<h3>Dashboard</h3>


<div class="container-fluid">
    <div class="row">
        <div class="searchable-container">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ totalOrders }}</h3>
                            <p>Orders</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ totalSKUs }}</h3>
                            <p>Total SKUs</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ totalCustomers }}</h3>
                            <p>Customers</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h4>P {{ totalIncome }}</h4>
                            <p>Income</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 chart-container">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-people"></i>
                    <h3 class="box-title">Sales</h3>
                </div>
                <div class="box-body">
                    <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 chart-container">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-envelope"></i>
                    <h3 class="box-title">Email Us</h3>
                </div>
                <div class="box-body">
                    <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
                </div>
            </div>
        </div>
     </div>

            <div class="row">
                <!-- SECOND ROW MESSAGE -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 clearfix">
                    <div class="box box-info">
                        <div class="box-header">
                            <i class="fa fa-envelope"></i>
                            <h3 class="box-title">Email Us</h3>
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <form action="#" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="emailto" placeholder="Email to:" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                                </div>

                                <ul class="email-tools">
                                    <li><a class="btn btn-default" ng-click="tools('bold',$event);"><i class="fa fa-bold"></i></a></li>
                                    <li><a class="btn btn-default" ng-click="tools('italic',$event);"><i class="fa fa-italic"></i></a></li>
                                </ul>
                                <div id="message-text" class="email-message" contenteditable="true">



                                    <!--<textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>-->
                                </div>
                                <div class="box-footer clearfix">
                                    <button type="submit" class="pull-right btn btn-default" id="sendEmail">
                                        Send
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
    $(document).ready(function () {

        $(".tab-menu").css("cursor", "pointer");

        // line chart
        Morris.Line({
            element: 'revenue-chart',
            data:  [
                 { "elapsed": "Sep W1", "value": 8 },
                 { "elapsed": "Sep W2", "value": 34 },
                 { "elapsed": "Sep W3", "value": 53 },
                 { "elapsed": "Sep W4", "value": 12 },
                 { "elapsed": "Oct W1", "value": 13 },
                 { "elapsed": "Oct W2", "value": 22 },
                 { "elapsed": "Oct W3", "value": 5 },
                 { "elapsed": "Oct W4", "value": 26 },
                 { "elapsed": "Nov W1", "value": 12 },
                 { "elapsed": "Nov W2", "value": 19 }
            ],
            xkey: 'elapsed',
            ykeys: ['value'],
            labels: ['Orders'],
            lineColors: ['#868BB8'],
            parseTime: false,
            lineWidth: 1,
            resize: true
        });

       // //DualLine Chart
       //var area = new Morris.Area({
       //     element: 'revenue-chart',
       //     resize: true,
       //     data: [
       //       { month: '2016-09', l: 'W1', item1: 2666 },
       //       { month: '2016-09', l: 'W2', item1: 2778 },
       //       { month: '2016-09', l: 'W3', item1: 4912 },
       //       { month: '2016-09', l: 'W4', item1: 3767 },
       //       { month: '2016-10', l: 'W1', item1: 6810 },
       //       { month: '2016-10', l: 'W2', item1: 5670 },
       //       { month: '2016-10', l: 'W3', item1: 4820 },
       //       { month: '2016-10', l: 'W4', item1: 15073 },
       //       { month: '2016-11', l: 'W1', item1: 10687 },
       //       { month: '2016-11', l: 'W2', item1: 8432 }
       //     ],
       //     xkey: 'l',
       //     xLabel: 'l  ',
       //     ykeys: ['item1'],
       //     labels: ['Order'],
       //     lineColors: ['#a0d0e0'],
       //     hideHover: 'auto'
       //});

        //Donut Chart
        var donut = new Morris.Donut({
            element: 'sales-chart',
            resize: true,
            colors: ["#3c8dbc", "#f56954", "#00a65a"],
            data: [
              { label: "Download Sales", value: 12 },
              { label: "In-Store Sales", value: 30 },
              { label: "Mail-Order Sales", value: 20 }
            ],
            hideHover: 'auto'
        });

    });
    </script>