<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="breadcrumb">
                <div class="form-inline">
                    <span class="span-title">Dashboard </span>  {{ filterText }}
                    <div class="pull-right">
                        <label>Filter by:</label>
                        <select class="form-control ddl_area">
                            <option selected value="-1">All Area</option>
                            <option ng-repeat="am in areaMaster" value="{{am.AMId}}">{{am.AMDescription}}</option>
                        </select>
                        <select class="form-control ddl_chain">
                            <option selected value="-1">All Chains</option>
                            <option ng-repeat="acc in accountMaster" value="{{acc.ATId}}">{{acc.ATDescription}}</option>
                        </select>
                        <input type="text" ng-model-options="{debounce: {'default': 100, 'blur': 0}}" class="form-control txt_daterange" readonly placeholder="Date End" ng-disabled="range" />
                        <button class="btn btn-primary btn-sm" ng-click="setFilter()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart faa-horizontal animated-hover fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ totalOrders }}</div>
                            <div class="dash-panel-label">POs Submitted</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View details</span>
                        <span class="pull-right"><i class="fa fa-shopping-cart"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-pie-chart faa-tada animated-hover fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ totalSKUs }}</div>
                            <div>Total SKU</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View details</span>
                        <span class="pull-right"><i class="fa fa fa-pie-chart"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calculator faa-wrench animated-hover fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ totalQuantity }}</div>
                            <div>Total SKU Quantity</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View details</span>
                        <span class="pull-right"><i class="fa fa-calculator"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-line-chart faa-pulse animated-hover fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge-income">P {{ totalIncome }}</div>
                            <div>Gross Sales</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View details</span>
                        <span class="pull-right"><i class="fa fa-line-chart"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="header-item box-title"><i class="fa fa-bar-chart"></i> Sales</h3>
                    <div class="header-item btn-group btn-toggle pull-right">
                        <button ng-click="toggleFilter('.day','Daily')" class="day btn btn-sm btn-primary active" disabled>Daily</button>
                        <button ng-click="toggleFilter('.week','Weekly')" class="week btn btn-sm btn-default">Weekly</button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart tab-pane active" id="sales-chart" style="position: relative; height: 300px;">
                        <span class="chart-span"><i class="fa fa-info-circle"></i> {{ errorMessage }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-pie-chart"></i> Products</h3>
                </div>
                <div class="box-body">
                    <div class="chart tab-pane" id="product-chart" style="position: relative; height: 300px;">
                        <span class="chart-span"><i class="fa fa-info-circle"></i> {{ errorMessage }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var parent = $('.data-managementdash');
        parent.addClass('menu-open').css({ 'display': 'block' });
        var elem = $('.btndash');
        parent.find('li').each(function () {
            $(this).removeClass('active');
        });
        elem.closest('li').addClass(' active');
    });
</script>
<script>
    $(document).ready(function () {

        $(".tab-menu").css("cursor", "pointer");

        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('.txt_daterange').val(start.format('YYYY/MM/DD') + '-' + end.format('YYYY/MM/DD'));
        }

        $('.txt_daterange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
                //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'This Year': [moment().startOf('year'), moment().endOf('year')],
                'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
            }
        }, cb);

        cb(start, end);
    });

</script>


