<div class="breadcrumb">
    <button class="btn btn-default btn-xs icon-size" title="Add Customer" ng-click="ShowAddCustomerModal()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button class="btn btn-default btn-xs icon-size" title="Batch Add Customer"><i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
    <div class="pull-right">
        <div class="form-inline">
            <select ng-model="searchBy" class="form-control" ng-change="clearSearch()">
                <option value="CMCode" selected>Customer Code</option>
                <option value="CMDescription">Customer Name</option>
            </select>
            <input type="text" ng-model="search[searchBy]" ng-model-options="{debounce: {'default': 100, 'blur': 0}}" class="form-control" placeholder="Search"/>
        </div>
    </div>
</div>
<div class="page-table" >
    <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
    <table id="PageTable" dt-column-defs="dtColumnDefs" datatable="ng" dt-options="dtOptions" class="table table-bordered bordered table-striped table-condensed datatable">
            <thead>
                <tr>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Status</th>
                    <th>Assignment</th>
                    <th class="no-sort">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in filterList | start: (currentPage - 1) * entryLimit | limitTo: entryLimit">
                    <td ng-cloak>
                        {{c.CMCode}}
                    </td>
                    <td ng-cloak>
                        {{c.CMDescription}}
                    </td>
                    <td ng-cloak>
                        {{c.CMStatus == '1' ? 'Active' : 'Inactive'}}
                    </td>
                    <td ng-cloak>
                        <button class="btn btn-default btn-xs option-icon-size" ng-click="CustomerToUser(c)" title="User assignment to Customer"><i class="fa fa-info" aria-hidden="true"></i></button>  
                        <span ng-if="c.UCount > 1 ">
                            {{c.UCount}} users assigned
                        </span>
                        <span ng-if="c.UCount <= 1">
                            {{c.UCount == 1 ? c.UCount : 'No'}} user assigned
                        </span>
                    </td>
                    <td class="table-data-poptions" ng-cloak>
                        <button class="btn btn-default btn-xs option-icon-size" ng-click="ViewCustomerDetails(c)" title="View Customer Details"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <button class="btn btn-default btn-xs option-icon-size" ng-click="getMapping(c)" title="Edit Customer Mapping"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
</div>


<!------- ADD CUSTOMER MODAL ------->
<div id="AddCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-user"></i> Add Customer</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Customer Area: <span class="required">*</span></label>
                        <select id="ddl_addcustarea" class="form-control input-sm">
                            <option selected disabled>-- Please Select Area --</option>
                            <option value="1">Luzon</option>
                            <option value="2">Visayaz</option>
                            <option value="3">Mindanao</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Customer Code:<span class="required">*</span></label>
                        <input id="txt_addcustcode" class="form-control  input-sm" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Customer Name:<span class="required">*</span></label>
                        <input id="txt_addcustname" class="form-control  input-sm" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Customer Status:<span class="required">*</span></label>
                        <select id="ddl_addcuststatus" class="form-control input-sm">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="ValidateAddCustomer()">Add Customer</button>
            </div>
        </div>
    </div>
</div>
<!------- END OF ADD CUSTOMER MODAL ------->

<!------- EDIT CUSTOMER MODAL ------->
<div id="EditCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-user"></i> Add Customer</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Customer ID:</label>
                        <input id="txt_editcustid" class="form-control input-sm" type="text" disabled />
                    </div>
                    <div class="form-group">
                        <label>Customer Area:</label>
                        <select id="ddl_editcustarea" class="form-control input-sm" disabled>
                            <option selected disabled>-- Please Select Area --</option>
                            <option value="1">Luzon</option>
                            <option value="2">Visayaz</option>
                            <option value="3">Mindanao</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Customer Code:</label>
                        <input id="txt_editcustcode" class="form-control  input-sm" type="text" disabled />
                    </div>
                    <div class="form-group">
                        <label>Customer Name:</label>
                        <input id="txt_editcustname" class="form-control  input-sm" type="text" disabled/>
                    </div>
                    <div class="form-group">
                        <label>Customer Status:</label>
                        <select id="ddl_editcuststatus" class="form-control input-sm" disabled>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm btn_editcust" ng-click="EditCustomer()"><i class="fa fa-pencil"></i> Edit Customer</button>
                <button type="button" style="display:none;" class="btn btn-primary btn-sm btn_savecust" ng-click="ValidateEditCustomer()"><i class="fa fa-save"></i> Save Changes</button>
            </div>
        </div>
    </div>
</div>
<!------- END OF EDIT CUSTOMER MODAL ------->

<!------- CUSTOMER MAPPING MODAL ------->
<div id="CustomerMappingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Data Mapping for Customer: <span id="spn_mapcmcode"></span></h4>
                <input type="hidden" id="txt_mapcmid" />
                <span class="pull-right">{{ maxAccount - modalRows }} available account(s)</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="modal-table-container">
                            <table class="table table-hover table-responsive table-bordered table-scrollable modal-table" id="MappingModalTable" fixed-header>
                                <thead>
                                    <tr>
                                        <th style="width: 45%">Account Type</th>
                                        <th style="width: 50%">Assigned Code</th>
                                        <th class="table-header-add-assign table-header-button" style="width: 5%"><img src="../Images/master/add.png" title="Add new row" alt="Add" ng-click="addModalRow()"/></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="ValidateSaveMaping()">Save</button>
            </div>
        </div>
    </div>
</div>
<!------- END OF CUSTOMER MAPPING MODAL ------->

<!------- USER TO CUSTOMER ASSIGNMENT MODAL ------->
<div id="UserAssignmentModal" class="modal modal-md fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Assignment for Customer: <span id="spn_UAcustCode" /></h4>
                <input type="hidden" id="txt_UAcustID" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="input-group">
                            <select id="lstUsers" class="selectpicker form-control" multiple data-width="100%" data-actions-box='true' data-live-search='true' title="Please select a User..." data-selected-text-format="count>3">
                               
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" id="btnQueue" ng-click="addToTable()" type="button">Add</button>
                            </span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="modal-table-container">
                            <table class="table table-hover table-responsive table-bordered table-scrollable modal-table" id="ModalTable_UserAssignment">
                                <thead>
                                    <tr>
                                        <th style="width:65%">Assigned User</th>
                                        <th style="width:30%">User ID</th>
                                        <th style="width:5%"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 modal-notification">
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
                        <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                        <input type="button" class="btn btn-primary" value="Save" ng-click="ValidateUserAssignment()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------- END OF USER TO CUSTOMER ASSIGNMENT MODAL ------->

<script>
    $(function () { 
        var parent = $('.data-management');
        parent.addClass('menu-open').css({ 'display': 'block' });
        var elem = $('.btncust');
        parent.find('li').each(function () {
            $(this).removeClass('active');
        });
        elem.closest('li').addClass('active');
    });

    

</script>