
<h3 class="breadcrumb"><b>S</b>M FILES LOADED</h3>

<ul class="nav nav-tabs skin-blue">
    <li class="active"><a data-toggle="tab" href="#Retrieved"><b>Retrieved &nbsp;</b><span class="label label-success badge pull-right" ng-show="POfile.NCC" ng-cloak>{{POfile.NCC}}</span></a></li>
    <li><a data-toggle="tab" href="#Unretrieve" ng-click="unsuccess()"><b>Unretrieve &nbsp;</b><span class="label label-danger badge pull-right" ng-show="POfileErr.NCC" ng-cloak>{{POfileErr.NCC}}</span></a></li>
</ul>
<div class="tab-content">
    <div id="Retrieved" class="tab-pane fade active in">
        <br />
        <div class="navbar" id="navbar">
            <ul class="nav navbar-nav">
                <li><input class="po-cbx-all" type="checkbox" ng-model="all" ng-change="selectFileAll()" ng-show="files" /></li>
                <li><button class="btn btn-default btn-sm" ng-click="getSelected()" ng-show="files">Read files</button></li>
            </ul>

            <div class="pull-right">
                <div class="form-inline">
                    <input type="text" ng-model="search[searchBy]" placeholder="Search" class="form-control" />
                    <select ng-model="searchBy" class="form-control">
                        <option value="files" selected>PO File</option>
                    </select>
                    <pagination data-boundary-links="true" data-num-pages="noOfPagesPO" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
                </div>
            </div>
        </div>

        <!--<div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="pull-left">
                        <div class="form-inline">
                            <input type="text" ng-model="search[searchBy]" placeholder="Search" class="form-control" />
                            <select ng-model="searchBy" class="form-control">
                                <option value="files" selected>PO File</option>
                            </select>
                        </div>
                    </div>
                    <pagination data-boundary-links="true" data-num-pages="noOfPagesPO" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-12 searchable-container">
                    <div class="po-files-h" ng-repeat="f in files" ng-init="$last ? loadHover() : angular.noop()">
                        <!--<input class="po-cbx" ng-click="$event = $event" ng-change="selectFile($event)" type="checkbox" ng-model="check" ng-checked="all" />-->
                        <div class="po-files">
                            <div class="">
                                <div class="po-cbx-design col-sm-1 col-xs-2" >
                                    <input class="po-cbx" ng-model="check" ng-checked="all" ng-click="$event = $event" ng-change="selectFile($event)" type="checkbox" />
                                </div>
                                <div  class="po-file-content col-sm-2 col-xs-4">
                                    <img ng-src="{{f.extension}}" class="po-files-ico pull-left" />
                                    <!--<span {{ f.files.length > -1  ? "style='font-size:10px;text-overflow:ellipsis;word-wrap:break-word'" : 'style="font-size:10px;text-overflow:ellipsis"'}} ">{{(f.files).length > 0 ? f.files : ''}}</span>-->
                                    <!--<span {{ f.files.length > -1  ? "style='font-size:10px;text-overflow:ellipsis;word-wrap:break-word'" : 'style="font-size:10px;text-overflow:ellipsis"'}} ">{{(f.files).length > 0 ? f.files : ''}}</span>-->
                                    <span style='font-size:10px;' title="{{ f.files }}">{{ f.files.slice(0,20) }}...</span>
                                    <!--For directory and rawID Purposes-->
                                    <label hidden>{{f.directory}}</label>
                                    <label hidden>{{f.rawID}}</label>
                                    <!--For directory and rawID Purposes-->
                                    <span style='font-size:10px; '>{{ f.retrievedate }}</span>
                                </div>
                                <div  class="po-file-download col-sm-1 col-xs-2">
                                    <button  title="Download" ng-click="downloadFile(f)" class="btn btn-default btn-xs btn-download" ><span class="fa fa-download "></span></button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Unretrieve" class="tab-pane fade">
        <br />
        <div class="navbar" id="navbar">
            <ul class="nav navbar-nav">
                <li><input class="po-cbx-all" type="checkbox" ng-model="allU" ng-change="selectFileAllUnsucc()" ng-show="unsuccessList" /></li>
                <li><button class="btn btn-default btn-sm" ng-click="unsuccessRet()" ng-show="unsuccessList">Reretrieve files</button></li>
            </ul>

            <div class="pull-right">
                <div class="form-inline">
                    <input type="text" ng-model="search[searchBy]" placeholder="Search" class="form-control" />
                    <select ng-model="searchBy" class="form-control">
                        <option value="files" selected>PO File</option>
                    </select>
                    <pagination data-boundary-links="true" data-num-pages="noOfPagesPO" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
                </div>
            </div>
        </div>

        <!--<div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="pull-left">
                        <div class="form-inline">
                            <input type="text" ng-model="search[searchBy]" placeholder="Search" class="form-control" />
                            <select ng-model="searchBy" class="form-control">
                                <option value="files" selected>PO File</option>
                            </select>
                        </div>
                    </div>
                    <pagination data-boundary-links="true" data-num-pages="noOfPagesPO" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-12 searchable-container">
                    <div class="po-files-h" sly-repeat="f in unsuccessList" ng-init="$last ? loadHover() : angular.noop()">
                        <!--<input class="po-cbx" ng-click="$event = $event" ng-change="selectFile($event)" type="checkbox" ng-model="check" ng-checked="all" />-->
                        <div class="po-files">
                            <div class="">
                                <div class="po-cbx-design col-sm-1 col-xs-2">
                                    <input class="po-cbx-unsucc" ng-model="check" ng-checked="allU" ng-click="$event = $event" ng-change="selectFile($event)" type="checkbox" />
                                </div>
                                <div class="po-file-content col-sm-2 col-xs-4">
                                    <img ng-src="{{f.extension}}" class="po-files-ico pull-left" />
                                    <!--<span {{ f.files.length > -1  ? "style='font-size:10px;text-overflow:ellipsis;word-wrap:break-word'" : 'style="font-size:10px;text-overflow:ellipsis"'}} ">{{(f.files).length > 0 ? f.files : ''}}</span>-->
                                    <!--<span {{ f.files.length > -1  ? "style='font-size:10px;text-overflow:ellipsis;word-wrap:break-word'" : 'style="font-size:10px;text-overflow:ellipsis"'}} ">{{(f.files).length > 0 ? f.files : ''}}</span>-->
                                    <span style='font-size:10px;' title="{{ f.files }}">{{ f.files.slice(0,20) }}...</span>
                                    <!--For directory and rawID Purposes-->
                                    <label hidden>{{f.directory}}</label>
                                    <label hidden>{{f.rawID}}</label>
                                    <!--For directory and rawID Purposes-->
                                    <span style='font-size:10px; '>{{ f.retrievedate }}</span>
                                </div>
                                <div class="po-file-download col-sm-1 col-xs-2">
                                    <button title="Download" ng-click="downloadFile(f)" class="btn btn-default btn-xs btn-download"><span class="fa fa-download "></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--  </div>-->
    </div>
</div>

<div id="mapModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Raading Files</h4>
            </div>
            <div class="modal-body">
                <div class="map-orders table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>File</th>
                                <th>File Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="uF in uploadedFile">
                                <td ng-bind-html="trustAsHtml(uF.fileLogo)"></td>
                                <td>{{uF.name}}</td>
                                <td>
                                    <div class="progress progress-striped active" style="height:20px;">
                                        <div class="progress-bar progress-bar-success" id="{{uF.fileID}}" style="text-align:center;width:0.9%;height:20px;"> Waiting</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default btn-sm" ng-click="clearSuccess()">Clear Successful</button>-->
                <!--<input type="submit" class="btn btn-primary btn-sm" id="submitOrder" value="Yes" data-dismiss="modal" />-->
            </div>
        </div>
    </div>
</div>
