
.orderOverlay {
    position:absolute;
    width:300px;
    height:300px;
    background:white;
    border:1px solid rgba(239, 83, 80, 0.8);
    left:-300px;
    top:-150px;
    overflow-y:auto;
}

    .orderOverlay ul {
        padding-left:25px;
    }


.label-count {
    position:absolute;
    top:3px;
    right:5px;
    text-align:center;
    font-size:9px;
    padding:2px 3px;
    line-height:.9;
    background-color:#dd4b39 !important;
    color:white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.order-menu {
    height:58px; 
    line-height:40px;
}

.table>tbody>tr>td {
    /*line-height: 50px;*/
}

.table-order {
    text-align:center; 
    font-size: 12px;
}

.table-order-height {
    overflow-y: scroll;
    height: 350px;
    overflow:hidden;
}

table.dataTable thead th.sorting_asc:first-child {
    background:none !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 5px;
}

.status {
    width: 30%;
}



.table-font {
    font-size: 12px;
}

.table.dataTable thead th {
    padding: 5px 18px;
}


.table.dataTable thead .no-sort {
    padding: 5px 13px;
    line-height: 20px;
}
.page-table table td {
    padding: 5px 10px !important;
}

.page-table table:not(.modal-table) td input {
    margin-top: 10%;
}
.center {
    text-align: center !important;
}