<div class="breadcrumb">
    <button class="btn btn-default btn-xs icon-size" title="Add User" ng-click="addUser()"><i class="fa fa-plus" aria-hidden="true" ></i></button>
</div>
<table id="PageTable" dt-column-defs="dtColumnDefs" datatable="ng" dt-options="dtOptions" class="table table-responsive table-bordered bordered table-striped table-condensed datatable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Status</th>
            <th class="no-sort">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="p in people track by p.UMId">
            <td ng-cloak> {{p.UMId}} </td>
            <td ng-cloak> {{p.UMUsername}} </td>
            <td ng-cloak> {{p.UMFirstname}} {{p.UMLastname}} </td>
            <td ng-cloak> {{p.UMEmail}} </td>
            <td ng-cloak> {{p.UMType}} </td>
            <td ng-cloak> {{p.USStatus}} </td>
            <td ng-cloak ng-switch="p.UMStatus">
                <div class="case" ng-switch-when="ACT">
                    <button class="btn btn-default btn-xs option-icon-size" ng-click="userDetails(p.UMId)" title="Edit User Details"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="btn btn-default btn-xs option-icon-size" ng-click="resetUser(p.UMId)" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    <button class="btn btn-default btn-xs option-icon-size" ng-click="removeUser(p.UMId)" title="Deactivate"><i class="fa fa-power-off" aria-hidden="true"></i></button>
                </div>
                <div class="case" ng-switch-when="INA">
                    <button class="btn btn-default btn-xs option-icon-size" ng-click="userDetails(p.UMId)" title="Edit User Details"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="btn btn-default btn-xs option-icon-size" ng-click="removeUser(p.UMId)" title="Deactivate"><i class="fa fa-power-off" aria-hidden="true"></i></button>
                </div>
                <div class="case" ng-switch-when="DEA">
                    <button class="btn btn-default btn-xs option-icon-size" ng-click="resetUser(p.UMId)" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                </div>
                 <div class="case" ng-switch-default>

                 </div>
                
            </td>
        </tr>
    </tbody>
</table>


<!-- ================================== MODALS ================================= -->

<!------- ADD USER MODAL ------->
<div id="AddUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-user"></i> Add User</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                        <div class="form-group">
                                <label>User Type:</label> <span class="required">*</span>
                                <select id="ddl_utype" class="form-control input-sm">
                                    <option selected disabled>-- Please Select User Type --</option>
                                    <option value="ADM">Administrator</option>
                                </select>
                        </div>
                        <div class="form-group">
                            
                                <label>Nickname:</label>
                                <input id="txt_nname" class="form-control  input-sm" type="text" />
                            
                        </div>
                        <div class="form-group">
                           
                                <label>First Name:</label> <span class="required">*</span>
                                <input id="txt_fname" class="form-control  input-sm" type="text" />
                           
                        </div>
                        <div class="form-group">
                           
                                <label>Middle Name:</label> <span class="required">*</span>
                                <input id="txt_mname" class="form-control  input-sm" type="text" />
                            
                        </div>
                        <div class="form-group">
                            
                                <label>Last Name:</label> <span class="required">*</span>
                                <input id="txt_lname" class="form-control  input-sm" type="text" />
                           
                        </div>
                        <div class="form-group">
                                <label>Email:</label> 
                                <input id="txt_email" class="form-control  input-sm" type="email" />
                           
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!------- END OF ADD USER MODAL ------->



<script>
    $(function () {
        var parent = $('.data-management');
        parent.addClass('menu-open').css({ 'display': 'block' });
        var elem = $('.btnuser');
        parent.find('li').each(function () {
            $(this).removeClass('active');
        });
        elem.closest('li').addClass(' active');
    });
</script>

<script type="text/ng-template" id="UserModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
       
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="userViewModel.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="userViewModel.cancel()">Cancel</button>
    </div>
</script>
