
<hr />
<input type="text" ng-model="search[searchBy]" />Search By: 
<select ng-model="searchBy">
    <option value="UMFirstName" selected>First Name</option>
    <option value="UMLastName">Last Name</option>
</select>
<hr />
<table id="UserTable">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody ng-repeat="p in people | filter:search">
        <tr>
            <td ng-cloak>
                {{p.UMId}}
            </td>
            <td ng-cloak>
                {{p.UMFirstName}} {{p.UMLastName}}
            </td>
        </tr>
    </tbody>
</table>
