
<h3 class="breadcrumb"><b>S</b>M FILES LOADED</h3>
    <div class="navbar" id="navbar">
        <ul class="nav navbar-nav">
            <li><input class="po-cbx-all" type="checkbox" ng-model="all" ng-change="selectFileAll()" ng-show="files" /></li>
            <li><button class = "tn btn-default btn-sm" ng-click="getSelected()" ng-show="files">Read files</button></li>
        </ul>
    </div>
    <div class="po-files-h" sly-repeat="f in files" ng-init="$last ? loadHover() : angular.noop()">
        <input class="po-cbx" ng-click="$event = $event" ng-change="selectFile($event)" type="checkbox" ng-model="check" ng-checked="all" />
        <div class="po-files">
            <img ng-src = "{{f.thumbnail}}" Content-type="image/jpeg" style="width:180px;position:absolute;top:-5px;left:0px;"/>
            <div class="po-files-hover">
                <img ng-src="{{f.extension}}" class="po-files-ico pull-left" />
                <span class="lbl-po-files">{{f.files}}</span>
                <!--For directory Purposes-->
                    <label hidden>{{f.directory}}</label>
                <!--For directory Purposes-->
                <img data-toggle="tooltip" data-container="body" data-placement="bottom" title="View" ng-click="showFile(f)" src="../images/print.png" class="po-files-ico-foot" style="left:10px" tooltip>
                <img data-toggle="tooltip" data-container="body" data-placement="bottom" title="Download" ng-click="downloadFile(f)" src="../images/download.png" class="po-files-ico-foot" style="left:55px" tooltip>
            </div>
        </div>
    </div>

<div id="mapModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Raading Files</h4>
            </div>
            <div class="modal-body">
                <div class="map-orders table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>File</th>
                                <th>File Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="uF in uploadedFile">
                                <td ng-bind-html="trustAsHtml(uF.fileLogo)"></td>
                                <td>{{uF.name}}</td>
                                <td><div id="{{uF.fileID}}" style="text-align:center;width:0.9%;height:20px;background:#e5c638;"> Waiting</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default btn-sm" ng-click="clearSuccess()">Clear Successful</button>-->
                <!--<input type="submit" class="btn btn-primary btn-sm" id="submitOrder" value="Yes" data-dismiss="modal" />-->
            </div>
        </div>
    </div>
</div>