
.po-files
{
    position:relative;
    /*width:178px;
    height:120px;*/
    display:inline-block;
    text-align:center;
    font-family:arial,sans-serif;
    font-weight:bold;
    border:2px solid #e1e1e1;   
    word-wrap: break-word;
    overflow:hidden;
    width: 260px; 
    height: 50px; 
    background: #eeeeee;
}

.po-file-content {
    width: 211px; 
    margin-left:-5px; 
    text-indent:5px;
}
.po-file-download{
    width:15px; 
    margin-top:5px; 
    top:20px; 
    right:10px;
}

.po-files-h
{
    position:relative;
    /*width:178px;
    height:165px;*/
    display:inline-block;
    margin:0 5px;
    word-wrap: break-word;
    overflow:hidden;
}


.lbl-po-files
{
    position:relative;    
}
.po-files-hover
{
    top:85px;
    position:absolute;
    background:rgba(1,1,1,.65);
    border-top:1px solid #f5f5f5;
    width:100%;
    height:100%;
    color:#f5f5f5; 
}
.po-files-hover span
{
    top: 7px;
}

.po-files-img
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;    
}

.po-files-ico
{
    position:relative;
    margin: 3px 0px 3px -5px;
    width:40px;
    height:40px;    
}

.po-files-font {
    font-size: 10px;
}

.po-files-ico-foot
{
    cursor:pointer;
    position:absolute;
    bottom:15px;
    width:35px;
    height:35px;
    background:#f5f5f5;
}

.po-files-ico-foot:hover
{
    background:gray;    
    border:2px solid #f5f5f5;
}

.po-cbx
{
    /*cursor:pointer;
    display:block;
    margin:5px !important;
    width:25px;
    height:25px;*/
    
}

.po-cbx-design {
    width:15px; 
    margin-top:1px; 
    margin-left:-10px;
}

.po-cbx-all
{
    cursor:pointer;
    display:block;
    margin:5px !important;
    width:25px;
    height:25px;
}

.tab-label {
    position:absolute !important;
    left:10%;
    bottom:5%;
    font-family:cursive;
    color:#e5c638;
    font-size:15px;
}

.label-count {
    position:absolute;
    top:3px;
    right:5px;
    text-align:center;
    font-size:9px;
    padding:2px 3px;
    line-height:.9;
    background-color:#dd4b39 !important;
    color:white;
}

.btn-download {
    font-size: 14px; 
    width:20px; 
    height:20px; 
    border:none;
    background: #eeeeee;
}

.outlet-active {
    background: #afd6ec;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.treeview:hover {
    background: #cee4f1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}