
.po-files
{
    position:relative;
    width:178px;
    height:120px;
    display:inline-block;
    text-align:center;
    font-family:arial,sans-serif;
    font-weight:bold;
    border:2px solid #e1e1e1;   
    word-wrap: break-word;
    overflow:hidden;
}

.po-files-h
{
    position:relative;
    width:178px;
    height:165px;
    display:inline-block;
    margin:0 10px;
    word-wrap: break-word;
    overflow:hidden;
}


.lbl-po-files
{
    position:relative;    
}
.po-files-hover
{
    top:85px;
    position:absolute;
    background:rgba(1,1,1,.65);
    border-top:1px solid #f5f5f5;
    width:100%;
    height:100%;
    color:#f5f5f5; 
}
.po-files-hover span
{
    top: 7px;
}

.po-files-img
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;    
}

.po-files-ico
{
    position:relative;
    margin: 7px 10px 7px 10px;
    width:20px;
    height:20px;    
}
.po-files-ico-foot
{
    cursor:pointer;
    position:absolute;
    bottom:15px;
    width:35px;
    height:35px;
    background:#f5f5f5;
}

.po-files-ico-foot:hover
{
    background:gray;    
    border:2px solid #f5f5f5;
}

.po-cbx
{
    cursor:pointer;
    display:block;
    margin:5px !important;
    width:25px;
    height:25px;
}

.po-cbx-all
{
    cursor:pointer;
    display:block;
    margin:5px !important;
    width:25px;
    height:25px;
}

.tab-label {
    position:absolute !important;
    left:10%;
    bottom:5%;
    font-family:cursive;
    color:#e5c638;
    font-size:15px;
}