<div class="breadcrumb">
    <button class="btn btn-default btn-xs icon-size" title="Pending Button"><i class="fa" aria-hidden="true"></i></button>
    <div class="pull-right">
        <div class="form-inline">
            <select ng-model="searchBy" class="form-control" ng-change="clearSearch()">
                <option value="TLId" selected>Transaction ID</option>
                <option value="UMUsername">User Name</option>
                <option value="TLDate">Date</option>
                <option value="TADescription">Description</option>
                <option value="TLValue">Product Value</option>
                <option value="TLRemarks">Remarks</option>
            </select>
            <input type="text" ng-model="search[searchBy]" ng-model-options="{debounce: {'default': 100, 'blur': 0}}"  placeholder="Search" class="form-control"/>
        </div>
    </div>
</div>
        <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
        <table id="PageTable" dt-column-defs="dtColumnDefs" datatable="ng" dt-options="dtOptions" class="table table-bordered bordered table-striped table-condensed datatable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Value</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="l in filterList | start: (currentPage - 1) * entryLimit | limitTo: entryLimit">
                    <td ng-cloak> {{l.TLId}} </td>
                    <td ng-cloak> {{l.UMUsername}} </td>
                    <td ng-cloak> {{l.TLDate}} </td>
                    <td ng-cloak> {{l.TADescription}} </td>
                    <td ng-cloak> {{l.TLValue}} </td>
                    <td ng-cloak> {{l.TLRemarks}} </td>
                </tr>
            </tbody>
        </table>
        <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>

<script>
    $(function () {
        var parent = $('.data-management');
        parent.addClass('menu-open').css({ 'display': 'block' });
        var elem = $('.btnlogs');
        parent.find('li').each(function () {
            $(this).removeClass('active');
        });
        elem.closest('li').addClass(' active');
    });
</script>