<div class="breadcrumb">
    <button class="btn btn-default btn-xs icon-size" title="Pending Button"><i class="fa" aria-hidden="true"></i></button>
</div>
<table id="PageTable" dt-column-defs="dtColumnDefs" datatable="ng" dt-options="dtOptions" class="table table-bordered bordered table-striped table-condensed datatable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Date</th>
            <th>Description</th>
            <th>Value</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="l in transactions | filter:search">
            <td ng-cloak> {{l.TLId}} </td>
            <td ng-cloak> {{l.UMUsername}} </td>
            <td ng-cloak> {{l.TLDate}} </td>
            <td ng-cloak> {{l.TADescription}} </td>
            <td ng-cloak> {{l.TLValue}} </td>
            <td ng-cloak> {{l.TLRemarks}} </td>
        </tr>
    </tbody>
</table>  

<script>
    $(function () {
        var parent = $('.data-management');
        parent.addClass('menu-open').css({ 'display': 'block' });
        var elem = $('.btnlogs');
        parent.find('li').each(function () {
            $(this).removeClass('active');
        });
        elem.closest('li').addClass(' active');
    });
</script>