@{
    ViewBag.Title = "Monitoring";
}
@*<div class="breadcrumb page-top-header"><b>@ViewData["Title"]</b></div>
<h3>@ViewData["Message"]</h3>*@

<link href="~/Content/css/monitor/monitor.css" rel="stylesheet" />
@section scripts {
    <script src="~/App/Monitoring/App.js"></script>
    <script src="~/App/Monitoring/RootViewModel.js"></script>
    <script src="~/App/Monitoring/ViewModels/POMonitoring/MonitoringListModel.js"></script><script>
    $(document).ready(function () {
        $('.visitMonitoring').addClass('active');
    });
</script>
}

<div data-ng-app="monitoring" data-ng-controller="rootViewModel">
    <div ng-view>

    </div>
</div>