<hr />
<input type="text" ng-model="search[searchBy]" />Search By:
<select ng-model="searchBy">
    <option value="PMCode" selected>Product Code</option>
    <option value="PMDescription">Product Detail</option>
</select>
<hr />
<table id="UserTable">
    <thead>
        <tr>
            <th></th>
            <th>Product Code</th>
            <th>Product Description</th>
        </tr>
    </thead>
    <tbody ng-repeat="p in product | filter:search">
        <tr>
            <td ng-cloak>
                <a href="#" ng-click="showProduct(p)">Select</a>
            </td>
            <td ng-cloak>
                {{p.PMCode}}
            </td>
            <td ng-cloak>
                {{p.PMDescription}}
            </td>
        </tr>
    </tbody>
</table>
