<div class="breadcrumb">
    <button class="btn btn-default btn-xs icon-size" title="Add Product" ng-click="ShowAddProductModal()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button class="btn btn-default btn-xs icon-size" title="Batch Add Product"><i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
    <div class="pull-right">
        <div class="form-inline">
            <select ng-model="searchBy" class="form-control" ng-change="clearSearch()">
                <option value="PMCode" selected>Product Code</option>
                <option value="PMDescription">Product Name</option>
                <option value="PMBarcode">Product Barcode</option>
                <option value="PSDescription">Product Status</option>
            </select>
            <input type="text" ng-model="search[searchBy]" ng-model-options="{debounce: {'default': 100, 'blur': 0}}"  class="form-control" placeholder="Search"/>
        </div>
    </div>
</div>
    <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
        <table id="PageTable" dt-column-defs="dtColumnDefs" datatable="ng" dt-options="dtOptions" class="table table-responsive table-bordered bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Code</th>
                    <th>Product Description</th>
                    <th>Product Barcode</th>
                    <th>Status</th>
                    <th class="no-sort">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in filterList | start: (currentPage - 1) * entryLimit | limitTo: entryLimit">
                    <td class="table-data-id" ng-cloak>
                        {{p.PMId}}
                    </td>
                    <td class="table-data-pcode" ng-cloak>
                        {{p.PMCode}}
                    </td>
                    <td class="table-data-pdesc" ng-cloak>
                        {{p.PMDescription}}
                    </td>
                    <td class="table-data-pbcode" ng-cloak>
                        {{p.PMBarcode}}
                    </td>
                    <td class="table-data-pstatus" ng-cloak>
                        {{p.PSDescription}}
                    </td>
                    <td class="table-data-poptions" ng-cloak>
                        <button class="btn btn-default btn-xs option-icon-size" ng-click="getDetails(p)" title="View Product Details"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <button class="btn btn-default btn-xs option-icon-size" ng-click="getMapping(p)" title="Edit Product Mapping"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

   <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>

        <!------- ADD PRODUCT MODAL ------->
        <div id="AddProductModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-pencil"></i> Add Product</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <label>Product Code: <span class="required">*</span></label>
                                        <input id="txt_addprodCode" class="form-control  input-sm" type="text" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <label>Product Barcode: <span class="required">*</span></label>
                                        <input id="txt_addprodBarcode" class="form-control  input-sm" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label>Product Description: <span class="required">*</span></label>
                                        <input id="txt_addprodDescription" class="form-control input-sm" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <label>Product Category: <span class="required">*</span></label>
                                        <select id="ddl_addprodType" class="form-control input-sm">
                                            <option value="1">MNC</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <label>Product Status: <span class="required">*</span></label>
                                        <select id="ddl_addprodStatus" class="form-control input-sm">
                                            <option value="1">Active</option>
                                            <option value="0">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="ValidateAddProduct()">Add Product</button>
                    </div>
                </div>
            </div>
        </div>
        <!------- END OF ADD PRODUCT MODAL ------->

<!------- PRODUCT MAPPING MODAL ------->
<div id="ProductMappingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-list" aria-hidden="true"></i> Data Mapping for Product: <span id="spn_mappmcode"></span></h4>
                <input type="hidden" id="txt_mappmid" />
                <span class="pull-right">{{ maxAccount - modalRows }} available account(s)</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="modal-table-container">
                            <table class="table table-hover table-responsive table-bordered table-scrollable modal-table" id="MappingModalTable" fixed-header>
                                <thead>
                                    <tr>
                                        <th style="width: 45%">Account Type</th>
                                        <th style="width: 50%">Assigned Code</th>
                                        <th class="table-header-add-assign table-header-button" style="width: 5%"><img src="../Images/master/add.png" title="Add new row" alt="Add" ng-click="addModalRow()"/></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="ValidateSaveMaping()">Save</button>
            </div>
        </div>
    </div>
</div>
<!------- END OF PRODUCT MAPPING MODAL ------->

<!------- PRODUCT DETAILS MODAL ------->
<div id="ProductDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Product Details</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Product ID:</label>
                                <input id="txt_prodID" class="form-control input-sm" type="text" disabled />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Product Code:</label>
                                <input id="txt_prodCode" class="form-control  input-sm" type="text" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Product Description:</label>
                                <input id="txt_prodDescription" class="form-control  input-sm" type="text" disabled />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Product Barcode:</label>
                                <input id="txt_prodBarcode" class="form-control  input-sm" type="text" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Product Type:</label>
                                <input id="txt_prodType" class="form-control input-sm" type="text" disabled />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label>Product Status:</label>
                                <input id="txt_prodStatus" class="form-control  input-sm" type="text" disabled />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!------- END OF PRODUCT DETAILS MODAL -------> 


<script>
    $(function () {
        var parent = $('.data-management');
        parent.addClass('menu-open').css({ 'display': 'block' });
        var elem = $('.btnprod');
        parent.find('li').each(function () {
            $(this).removeClass('active');
        });
        elem.closest('li').addClass(' active');
    });
</script>