<div class="breadcrumb monitor-menu">
   <!-- <b class="page-top-header">Monitoring</b>-->
    <ul class="nav nav-tabs skin-blue">
        <li><a data-toggle="tab" href="/#POMonitoring"><b>PO Monitoring</b></a></li>
        <li><a data-toggle="tab" href="/#TransactionLogs"><b>Transaction Logs</b></a></li>
    </ul>
</div>


<div class="page-table">
    <div class="tab-content">
        <div id="POMonitoring" class="tab-pane active ">
            <div class="pull-right">
                <div class="form-inline">
                    <select ng-model="searchBy" class="form-control" ng-change="clearSearch()">
                        <option value="ulponumber" selected>PO Number</option>
                        <option value="ulcustomer">Customer Number</option>
                        <option value="cmdescription">Customer Name</option>
                    </select>
                    <input type="text" ng-model="search[searchBy]" ng-model-options="{debounce: {'default': 100, 'blur': 0}}" class="form-control" placeholder="Search" />
                </div>
            </div>

            
            <table id="PageTable" dt-column-defs="dtColumnDefs" datatable="ng" dt-options="dtOptions" class="table table-responsive table-bordered bordered table-striped table-condensed datatable table-font" >
                <thead>
                    <tr>
                        <th class="no-sort" id="no-sort">
                            <input id="cbxMain" class="styled cbxMain" type="checkbox" />
                        </th>
                        <th>PO #</th>
                        <th>Customer #</th>
                        <!--<th>Customer Name</th>-->
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                        <th>Retrieve Date</th>
                        <th>Upload Date</th>
                        <th>Submitted Date</th>
                        <!--<th>Reader</th>-->
                        <th>Submitted By</th>
                        <th>Total SKU</th>
                        <th>Total Qty</th>
                        <th style="width:10%;">Total Amount</th>
                        <th class="no-sort" style="width:30%;">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in filterList | start: (currentPage - 1) * entryLimit | limitTo: entryLimit">
                        <td ng-cloak style="text-align: center;"><input id="" class="cbxSub" type="checkbox" ng-checked="" /></td>
                        <td ng-cloak class="table-data-ponum">{{m.ULPONumber}}</td>
                        <td ng-cloak class="table-data-ucust"{{m.ULCustomer}}></td>
                        <!--<td ng-cloak class="table-data-cdesc" style="width:30%;"></td>-->
                        <td ng-cloak class="table-data-uodate">{{m.ULOrderDate}}</td>
                        <td ng-cloak class="table-data-uddate">{{m.ULOrderDate}}</td>
                        <td ng-cloak class="table-data-uudate">{{m.ULDeliveryDate}}</td>
                        <td ng-cloak class="table-data-cqty">{{m.ULUploadDate}}</td>
                        <td ng-cloak class="table-data-sqty">{{m.ULUploadDate}}</td>
                        <!--<td ng-cloak class="table-data-uprice">{{m.ULUploadDate}}</td>-->
                        <td ng-cloak class="table-data-uprice">{{m.ULUser}}</td>
                        <td ng-cloak class="table-data-uprice">{{m.ULPONumber}}</td>
                        <td ng-cloak class="table-data-uprice">{{m.ULPONumber}}</td>
                        <td ng-cloak style="position:relative;width:30%;">{{m.ULPONumber}}</td><!--<img onclick="errorDetails(\'' + data.detail[i].ulid + '\',\'' + data.detail[i].ulstatus + '\')" title="View Error Details" src="img/master/error.png">-->
                        <td ng-cloak>
                           <button class="btn btn-default btn-xs option-icon-size" ng-click="showDetails(m)" title="PO Details"><i class="fa fa-info"></i></button>
                        <button class="btn btn-default btn-xs option-icon-size" ng-click="GenerateXml(m)" title="Download File" ><i class="fa fa-download"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
        </div>
        <div id="TransactionLogs" class="tab-pane fade">

            <div class="pull-right">
                <div class="form-inline">
                    <select ng-model="searchBy" class="form-control" ng-change="clearSearch()">
                        <option value="ulponumber" selected>PO Number</option>
                        <option value="ulcustomer">Customer Number</option>
                        <option value="cmdescription">Customer Name</option>
                    </select>
                    <input type="text" ng-model="search[searchBy]" ng-model-options="{debounce: {'default': 100, 'blur': 0}}" class="form-control" placeholder="Search" />
                </div>
            </div>

            <button class="btn btn-default btn-xs icon-size" ng-click="" title=""><i class="fa fa-paper-plane"></i></button>
            <button class="btn btn-default btn-xs icon-size" ng-click="" title=""><i class="fa fa-trash-o"></i></button>

            <table id="PageTable" dt-column-defs="dtColumnDefs" datatable="ng" dt-options="dtOptions" class="table table-responsive table-bordered bordered table-striped table-condensed datatable">
                <thead>
                    <tr>
                        <th class="no-sort" id="no-sort">
                            <input id="cbxMain" class="styled cbxMain" type="checkbox" />
                        </th>
                        <th>PO #</th>
                        <th>Customer #</th>
                        <th>Customer Name</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                        <th>Upload Date</th>
                        <th>Total SKU</th>
                        <th>Total Quantity</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th class="no-sort">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in filterList | start: (currentPage - 1) * entryLimit | limitTo: entryLimit">
                        <td ng-cloak style="text-align: center;"><input id="" class="cbxSub" type="checkbox" ng-checked="" /></td>
                        <td ng-cloak class="table-data-ponum"></td>
                        <td ng-cloak class="table-data-ucust"></td>
                        <td ng-cloak class="table-data-cdesc" style="width:30%;"></td>
                        <td ng-cloak class="table-data-uodate"></td>
                        <td ng-cloak class="table-data-uddate"></td>
                        <td ng-cloak class="table-data-uudate"></td>
                        <td ng-cloak class="table-data-cqty"></td>
                        <td ng-cloak class="table-data-sqty"></td>
                        <td ng-cloak class="table-data-uprice"></td>
                        <td ng-cloak style="position:relative;width:30%;"></td><!--<img onclick="errorDetails(\'' + data.detail[i].ulid + '\',\'' + data.detail[i].ulstatus + '\')" title="View Error Details" src="img/master/error.png">-->
                        <td ng-cloak>
                            <!--<button class="btn btn-default btn-xs option-icon-size" ng-click="showDetails(o)" title="Order Details"><i class="fa fa-info"></i></button>
                    <button class="btn btn-default btn-xs option-icon-size" ng-click="reuploadPO(o)" title="Reupload" ng-show="o.ulstatus == '11' ? true:false"><i class="fa fa-upload"></i></button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
        </div>
    </div>
</div>


<!------- VIEW COMPLETE DETAILS MODAL ------->
<div id="ViewPODetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" ><i class="fa fa-user"></i> Details for PO Number # <b><span id="txt_ponum"></span></b></h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td style="width:150px; font-weight:bold;">Customer #: </td>
                        <td id="txt_custnum"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Customer Name: </td>
                        <td id="txt_custname"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Order Date: </td>
                        <td id="txt_orderdate"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Delivery Date: </td>
                        <td id="txt_deliverydate"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Retrieve Date: </td>
                        <td id="txt_retrievedate"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Upload Date: </td>
                        <td id="txt_uploaddate"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Submitted Date: </td>
                        <td id="txt_submitteddate"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Reader: </td>
                        <td id="txt_reader"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Submitted By: </td>
                        <td id="txt_submittedby"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Total SKU: </td>
                        <td id="txt_sku"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Total Quantity: </td>
                        <td id="txt_qty"></td>
                    </tr>
                    <tr>
                        <td style="width:150px; font-weight:bold;">Total Amount: </td>
                        <td id="txt_amount"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!------- END OF VIEW COMPLETE DETAILS MODAL ------->