<div class="breadcrumb monitor-menu">
   <!-- <b class="page-top-header">Monitoring</b>-->
    <ul class="nav nav-tabs skin-blue">
        <li><a data-toggle="tab" href="/#POMonitoring"><b>PO Monitoring</b></a></li>
        <li><a data-toggle="tab" href="/#TransactionLogs"><b>Transaction Logs</b></a></li>
    </ul>
</div>


<div class="page-table">
    <div class="tab-content">
        <div id="POMonitoring" class="tab-pane active ">
            <div class="pull-right">
                <div class="form-inline">
                    <select ng-model="searchBy" class="form-control" ng-change="clearSearch()">
                        <option value="ulponumber" selected>PO Number</option>
                        <option value="ulcustomer">Customer Number</option>
                        <option value="cmdescription">Customer Name</option>
                    </select>
                    <input type="text" ng-model="search[searchBy]" ng-model-options="{debounce: {'default': 100, 'blur': 0}}" class="form-control" placeholder="Search" />
                </div>
            </div>

            <button class="btn btn-default btn-xs icon-size" ng-click="" title=""><i class="fa fa-paper-plane"></i></button>
            <button class="btn btn-default btn-xs icon-size" ng-click="" title=""><i class="fa fa-trash-o"></i></button>

            <table id="PageTable" dt-column-defs="dtColumnDefs" datatable="ng" dt-options="dtOptions" class="table table-responsive table-bordered bordered table-striped table-condensed datatable">
                <thead>
                    <tr>
                        <th class="no-sort" id="no-sort">
                            <input id="cbxMain" class="styled cbxMain" type="checkbox" />
                        </th>
                        <th>PO #</th>
                        <th>Customer #</th>
                        <th>Customer Name</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                        <th>Upload Date</th>
                        <th>Total SKU</th>
                        <th>Total Quantity</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th class="no-sort">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in filterList | start: (currentPage - 1) * entryLimit | limitTo: entryLimit">
                        <td ng-cloak style="text-align: center;"><input id="" class="cbxSub" type="checkbox" ng-checked="" /></td>
                        <td ng-cloak class="table-data-ponum"></td>
                        <td ng-cloak class="table-data-ucust"></td>
                        <td ng-cloak class="table-data-cdesc" style="width:30%;"></td>
                        <td ng-cloak class="table-data-uodate"></td>
                        <td ng-cloak class="table-data-uddate"></td>
                        <td ng-cloak class="table-data-uudate"></td>
                        <td ng-cloak class="table-data-cqty"></td>
                        <td ng-cloak class="table-data-sqty"></td>
                        <td ng-cloak class="table-data-uprice"></td>
                        <td ng-cloak style="position:relative;width:30%;"></td><!--<img onclick="errorDetails(\'' + data.detail[i].ulid + '\',\'' + data.detail[i].ulstatus + '\')" title="View Error Details" src="img/master/error.png">-->
                        <td ng-cloak>
                            <!--<button class="btn btn-default btn-xs option-icon-size" ng-click="showDetails(o)" title="Order Details"><i class="fa fa-info"></i></button>
                        <button class="btn btn-default btn-xs option-icon-size" ng-click="reuploadPO(o)" title="Reupload" ng-show="o.ulstatus == '11' ? true:false"><i class="fa fa-upload"></i></button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
        </div>
        <div id="TransactionLogs" class="tab-pane fade">

            <div class="pull-right">
                <div class="form-inline">
                    <select ng-model="searchBy" class="form-control" ng-change="clearSearch()">
                        <option value="ulponumber" selected>PO Number</option>
                        <option value="ulcustomer">Customer Number</option>
                        <option value="cmdescription">Customer Name</option>
                    </select>
                    <input type="text" ng-model="search[searchBy]" ng-model-options="{debounce: {'default': 100, 'blur': 0}}" class="form-control" placeholder="Search" />
                </div>
            </div>

            <button class="btn btn-default btn-xs icon-size" ng-click="" title=""><i class="fa fa-paper-plane"></i></button>
            <button class="btn btn-default btn-xs icon-size" ng-click="" title=""><i class="fa fa-trash-o"></i></button>

            <table id="PageTable" dt-column-defs="dtColumnDefs" datatable="ng" dt-options="dtOptions" class="table table-responsive table-bordered bordered table-striped table-condensed datatable">
                <thead>
                    <tr>
                        <th class="no-sort" id="no-sort">
                            <input id="cbxMain" class="styled cbxMain" type="checkbox" />
                        </th>
                        <th>PO #</th>
                        <th>Customer #</th>
                        <th>Customer Name</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                        <th>Upload Date</th>
                        <th>Total SKU</th>
                        <th>Total Quantity</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th class="no-sort">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in filterList | start: (currentPage - 1) * entryLimit | limitTo: entryLimit">
                        <td ng-cloak style="text-align: center;"><input id="" class="cbxSub" type="checkbox" ng-checked="" /></td>
                        <td ng-cloak class="table-data-ponum"></td>
                        <td ng-cloak class="table-data-ucust"></td>
                        <td ng-cloak class="table-data-cdesc" style="width:30%;"></td>
                        <td ng-cloak class="table-data-uodate"></td>
                        <td ng-cloak class="table-data-uddate"></td>
                        <td ng-cloak class="table-data-uudate"></td>
                        <td ng-cloak class="table-data-cqty"></td>
                        <td ng-cloak class="table-data-sqty"></td>
                        <td ng-cloak class="table-data-uprice"></td>
                        <td ng-cloak style="position:relative;width:30%;"></td><!--<img onclick="errorDetails(\'' + data.detail[i].ulid + '\',\'' + data.detail[i].ulstatus + '\')" title="View Error Details" src="img/master/error.png">-->
                        <td ng-cloak>
                            <!--<button class="btn btn-default btn-xs option-icon-size" ng-click="showDetails(o)" title="Order Details"><i class="fa fa-info"></i></button>
                    <button class="btn btn-default btn-xs option-icon-size" ng-click="reuploadPO(o)" title="Reupload" ng-show="o.ulstatus == '11' ? true:false"><i class="fa fa-upload"></i></button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="pageSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
        </div>
    </div>
</div>