@{
    ViewBag.Title = "Orders";
}
<div class="breadcrumb page-top-header"><b>@ViewData["Title"]</b></div>
<h3>@ViewData["Message"]</h3>


@section scripts {
    <script src="~/App/Order/App.js"></script>
    <script src="~/App/Order/RootViewModel.js"></script>
    <script src="~/App/Order/ViewModels/Orders/orderModel.js"></script><script>
        $(document).ready(function () {
            $('.visitOrder').addClass('active');
        });
</script>
}

<div data-ng-app="order" data-ng-controller="rootViewModel">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="showOrder()">Search: </button>&nbsp;
            <input type="text" ng-model="orderService.orderId" placeholder="Enter PO Number"/>
        </div>
    </div>
    <hr />
    <div ng-view></div>
</div>
