@{
    ViewBag.Title = "Orders";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@section styles{
    <link rel="stylesheet" href="~/Content/css/order/order.css" />
}

@section scripts{
    <script src="~/App/Order/App.js"></script>
    <script src="~/App/Order/RootViewModel.js"></script>
    <script src="~/App/Order/ViewModels/FTP/ftpModel.js"></script>
}

<div data-ng-app="order" data-ng-controller="rootViewModel">
    <button ng-click="ftpList()">Get FTP files</button>
    <div ng-view></div>
</div>