/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input:not(.form-control),
select,
textarea { 
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

#UserTable {
    width:100%;
    margin:0 auto;
}
    #UserTable td,th{
        text-align:center;
        border:1px solid black;
        width:16.667%;
    }

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

ul.data-management li.active{
    background-color: #f7790e;  
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul.data-management li.active .btn {
     color:#fff;
}

ul.dropdown-options li.active {
    background-color: #8dc3e2;  
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul.dropdown-options li.active .btn {
     color:#fff;
}

button.btn.btn-link {
    color: #8aa4af;
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    width:100%;
    text-align:left;
    text-decoration:none;
}
ul.dropdown-options li:not(.active):hover {
    color:#fff;
    background-color: #8dc3e2;  
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
ul.dropdown-options li:hover .btn {
     color:#fff;
}

ul.data-management li:not(.active):hover {
    color:#fff;
    background-color: #FABD44;  
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
ul.data-management li:hover .btn {
     color:#fff;
}

ul.data-management li:active {
    background-color: transparent;
}

button.btn.btn-link:focus {
    outline:0;
    background-color: transparent;
    color: white;
}

button.btn.btn-link i, button.btn.btn-link span {
    margin-right: 5px;
}

.required {
    color: red; 
}

.btn-link-ret {
    color: #000;
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    width:100%;
    text-align:left;
    text-decoration:none;
    background-color: transparent;
}

.page-top-header {
    font-size: 30px; 
    color:#24546f;
}

/* ======================================== EDIT USER MODAL ========================================== */
img {
object-fit: cover!important;
}
.link-user-imgprof
{
    width:120px;
    height:120px;
    float:right;
    margin:1px 0 10px 5px;
    border-radius:50%;
    text-align:center;
    font-size:50px;
    font-weight:bold;
    color:#fff;
    text-transform:uppercase;
    border: 1px solid gray;
    padding: 0;
}
.link-user-imgprof img
{
    width:120px;
    height:120px;
    border:none;
    border-radius:50%;
}
/* ======================================== END OF EDIT USER MODAL ========================================== */

/* ------------------------------------- PAGE TABLE --------------------------------------*/

.table
{
    margin-bottom: 0px;
    border-collapse: collapse !important;
}
 .table>thead>tr>th,.table>tbody>tr>td
 {
     padding:4px;
     border-collapse:collapse !important;
 }
 .table>tbody>tr>td
 {
     border-collapse:collapse !important;
 }

 .page-table{
     /*border: 2px solid #ccc;*/
 }

 .page-table table{
    margin: 0 !important;
    /*border-collapse:collapse !important;*/
 }
 table th
 {
     margin: 0 !important;
    height: 15px !important;
    line-height: 15px !important;
    border-left: 0.5px solid #e0e0e0!important;
    border-bottom:1px solid #e0e0e0 !important;
    border-top:1px solid #e0e0e0 !important;
    white-space: nowrap!important;
    /*border:1px solid #e0e0e0 !important;*/
}

#UserTable td{
    border:none !important;
    height: 15px;
    line-height: 15px;
}
#UserTable td img{
    line-height: 15px;
}

#cbxMain {
    margin: 0px;
}
.page-table table td
{
    text-align:left;
    color:#777;
    padding: 4px 10px!important;
}

th.options {
    width: 10%!important;
}

.page-table table td label
{
    float:left;
    margin: auto;
}
.checkbox label
{
    min-height:0 !important;
    padding-left:0 !important;
}
.page-table table td a
{
    display:block;
    float:left;
}
.page-table table:not(.modal-table) td input
{
    margin-top: 50%;
}
.page-table table:not(.modal-table) td img
{
    float:left;
    padding: 2px;
    width:18px;
    height:18px;
    margin:0px 3px 0 0;
    border:1px solid #d0d0d0;
    background-color:#f0f0f0;
    cursor: pointer;
    margin-top: 4.5px;
}
.page-table td img:hover
{
    background-color:#e5eeff;
    border:1px solid #33a3ff;
}

.table-data-id {
    align-content: center;
    text-align: right!important;
    width: 7%!important;
}
.table-data-pcode { 
    text-align:left!important;
    width: 15%!important;
}
.table-data-pdesc { 
    text-align:left!important;
    width: auto!important;
}
.table-data-pbcode {
    text-align:right!important;
    width: 15%!important;
}
.table-data-pcat {
    text-align:right!important;
    width: 15%!important;
}

.table-data-pstatus {
    text-align:right!important;
    width: 10%!important;
}
.table-data-poptions {
    text-align:left!important; 
    width: auto!important;
}

.table-data-umid{
    text-align: right!important;
    width: 5%!important;
}
.table-data-uname{
    text-align:left!important;
    width: 25%!important;
}
.table-data-fname{ 
    text-align:left!important;
    width: 25%!important;
}
.table-data-email{
    text-align:left!important;
    width: 5%!important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-data-utype{
    text-align:left!important;
    width: 18%!important;
    white-space: nowrap;
}
.table-data-ustat{
    text-align:center!important;
    width: 10%!important;
}
.table-data-uOptions {
    text-align:left!important; 
    width: 12%!important;
}

/* ======================================== END OF PAGE TABLE ========================================== */

/* ============================================== FILE UPLOAD =========================================*/

 .dropzone
{
    width:90%;
    margin:20px auto;
    background:#f1f1f1;
    overflow:hidden;
    border:2px dashed #ccc;
}
.dropzone.dragover
{
    border-color:#000;
    color:#000;
}
.file-upload-class
{
    position:fixed;
    top:-2000px;
}
.file-upload {
    display:inline-block;
    width:100%;
    height:350px;
    text-align:center;
    line-height:350px;
    cursor:pointer;
}
/*GMC UPDATES 07082016*/

.progress-bar
{
    margin-bottom:1%;   
}
.progress-bar-fill-load
{
    width:0%;
    background:#00b300;
    height:35px;
    line-height:35px;
}
.batch-log
{
    height:250px;
    overflow:auto;    
}
.progress-bar-txt
{
    height:35px;
    line-height:35px;
    margin:-3px auto 0 43%;
    overflow:hidden;
    color:#000;
    position:absolute;
}
.upload-image
{
    display:inline-block;
    width:100%;
    height:120px;
    overflow:auto;
    margin:20px auto;
    border:2px solid #ddd;
}
.upload-image-icon
{
    position:relative;
    margin: 10px 20px;
    display:inline-block;
    overflow:hidden;
    border-radius:10px;
    width:80px;
    /*height:110px;*/
    text-align:center;
}
.upload-image-icon img, .img-link
{
    width:100%;
    height:70%;
}
.img-check
{
    display:none;
    width:35px;
    height:35px;
    line-height:35px;
    margin:-3px 0 0 38%;
    overflow:hidden;
    color:#000;
    position: absolute;
}

.progress {
    height: 30px;
}

.upload-log {
    max-height: 250px;
    overflow-y:scroll;
}

div[dropzone] {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold;
    color: #bbb;
    margin-bottom: 20px;
}

 /* ============================================== END OF FILE UPLOAD =========================================*/

/* ======================================== MODAL TABLE ========================================== */
.modal-table tr.table-row-edit td
{
    padding: 3px !important;
    vertical-align: middle;
}
.modal-table td input,.modal-table td select
{
    width: 100%;
    padding: 3px 8px;
    font-size: 11px;
    height: 23px;
}
.modal-table tr.table-row-edit td.table-data-delete ,.modal-table th.table-header-button
{
    padding: 3px !important; 
    vertical-align: middle;  
}
.modal-table td img,.modal-table th img
{
    padding: 0px;
    width: 20px;
    height: 20px;
    margin: 0px 0px 0 0;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
    cursor: pointer;
}

.modal-table tbody
{
  overflow-y: auto;
  height: 200px;
  width: 100%;
}

.modal-body table td {
    border-top: none !important; 
    height:25px !important;
    line-height:25px !important;
}

.modal-body table th:last-child {
    border-right: 0.5px solid #e0e0e0!important;
}


.inner-addon { 
    position: relative; 
}

.inner-addon .currency {
  position: absolute;
  line-height: 27px;
  padding-left: 8px;
  pointer-events: none;
  font-size: 15px;
}
.left-addon .currency  { left:  0px;}
.right-addon .currency { right: 0px;}
.left-addon input  { padding-left:  25px !important; }
.right-addon input { padding-right: 25px !important; }

.tbl-data-qty {
    padding: 0px!important;
}

.tbl-data-qty div {
    margin: 1px;
    border: 1px solid #ccc;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: white;
}

.add-assigned 
{
    background-color:#eefbec;
}

.add-assigned span
{
    color: red;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/* ======================================== PPAGINATION ========================================== */

.paginate_button {
    padding: 2px!important;
}
.paginate_button:hover {
    background: none!important;
        border: 1px solid transparent !important;
}
.pagination {
    margin: 5px 0px;
}
.pagination > li > a {
  background: #fafafa;
  color: #666;
}
.pagination.pagination-flat > li > a {
  border-radius: 0 !important;
}


/* ======================================== ICONS ========================================== */
.icon-size {
    font-size: 18px;
    width: 30px;
}

.option-icon-size {
    width: 20px;
}

.btn-default:hover {
    border-color: none;
    background-color: #f4f4f4 !important;
}

.btn-xs {
    padding: 1px 2px;
}

.case .btn i {
    width:10px !important;
}

.fa-pencil-square-o {
    color: blue;
}

.fa-refresh {
    color: green;
}

.fa-power-off {
    color:red;
}

.fa-info {
    color: #21b6dc;
}

/* ======================================== Users-Cards ========================================== */
div.item {
    padding-left: 5px;
    padding-right: 5px;
}

.info-block {
    border: 2px solid black;
}
.card-header {
 background-color: #20819e;
 padding: 10px 0px;
 color: white;
}
.card-header .header-options{
    padding-right: 5px;
}
.card-content {
    padding-top: 10px;
}
.info-block
{
    border-right:2px solid #E6E6E6;
    margin-bottom:30px
}
.block-info span {
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-block .square-box
{
    width:100px;
    min-height:110px;
    margin-right:22px;
    text-align:center!important;
    padding:0px 0px;
}
.info-block.block-info
{
    border-color:#20819e;
    padding-left: 15px;
    padding-right: 15px;
}
.info-block.block-info .square-box
{
    color:#FFF
}

.span-uname {
    font-size: 16px;
    font-weight: bold;
    /*margin-left: -12px;*/

}
.span-status .active {
    color: #008d00;
}
.span-status .inactive {
    color: blue;
}

.span-status .deactivated {
    color: red;
}

.card-view-imgprof
{
    width:164px;
    height:164px;
    float:right;
    margin:1px 0 10px 5px;
    border-radius:50%;
    text-align:center;
    font-size:50px;
    font-weight:bold;
    color:#fff;
    text-transform:uppercase;
    border: 1px solid gray;
    padding: 0;
}
.card-view-imgprof img
{
    width:100%;
    height:100%;
    border:none;
    border-radius:50%;
}
/* ======================================== DASHBOARD ========================================== */
.email-tools {
    margin:0;
    padding:0;
    display:block;
}
    .email-tools li {
        float:left;
        margin:0 5px 10px 0;
        list-style:none;
    }
.email-message {
    position:relative;
    width: 100%; 
    height: 200px; 
    font-size: 14px; 
    line-height: 18px; 
    border: 1px solid #dddddd;
    padding: 10px;
    display:inline-block;
}
/* ======================================== PAGINATION ========================================== */

.dataTables_wrapper .dataTables_paginate .paginate_button {
    display: inline !important;
    margin-left: -5px !important;
}



/* ======================================= User Panel ============================================= */

.user-panel>.image>img {
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
.sidebar-mini .img-circle {
    height: 45px!important;
}
.sidebar-mini.sidebar-collapse .img-circle {  
    height: 30px!important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    height: 90px!important;
}

/* ======================================= DASHBOARD ============================================= */

.span-title {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 35px;
}

.chart-span {
    font-size: 1.5em;
}

.huge {
    font-size: 40px;
}

.huge-income {
  font-size: 20px;
  line-height: 55px;  
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.chart-container {
    padding-left: 5px;
    padding-right: 5px;
}

.chart-span {
    line-height: 280px;
    font-size: 20px;
    text-align: center;
    display: block;
    font-weight: bold;
    color: #707070;
}
.chart-span i {
    color: inherit;
}

.header-item {
    line-height: 30px!important;
}

/* ======================================= Scrollbars ============================================= */

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #F5F5F5;                             
    border-radius: 20px;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb
{
    background-color: #aaaaaa;
    border-radius: 20px;
}