@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Administrator";
}

@section styles{
<link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
<link href="~/Content/skins/_all-skins.min.css" rel="stylesheet" />  
<link href="~/Content/ngDialog.css" rel="stylesheet" />  
}

@section scripts{
    <script src="~/App/Admin/App.js"></script>
    <script src="~/App/Admin/RootViewModel.js"></script>
    <script src="~/App/Admin/ViewModels/Users/UserListModel.js"></script>
    <script src="~/App/Admin/ViewModels/Prod/ProdListModel.js"></script>
    <script src="~/App/Admin/ViewModels/Cust/CustListModel.js"></script>
    <script src="~/App/Admin/ViewModels/TransLog/TransLogListModel.js"></script>
}

@section header_menu {
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Images/user3-128x128.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-server"></i> <span>Data Maintenance</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu data-management">
                        <li><button class="btn btn-link btnuser" ng-click="userList()"><i class="fa fa-user"></i> User</button></li>
                        <li><button class="btn btn-link btnprod" ng-click="prodList()"><i class="fa fa-shopping-cart"></i> Product</button></li>
                        <li><button class="btn btn-link btncust" ng-click="custList()"><i class="fa fa-users"></i> Customer</button></li>
                        <li><button class="btn btn-link btnlogs" ng-click="logList()"><i class="fa fa-database"></i> Logs</button></li>
                        <li><button class="btn btn-link btbconn" ng-click="connections()"><span class="glyphicon glyphicon-sort"></span> Connections</button></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart"></i> <span>Reports</span>
                    </a>
                </li>
            </ul>
    </section>
    <!-- /.sidebar -->
</aside>
}
<!-- Body -->
<section class="content-body">
    <div class="page-table">
        <div data-ng-view>
        </div>
    </div>
</section>