@{
    ViewBag.Title = "Administrator";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@section scripts{
    <script src="~/App/Admin/App.js"></script>
    <script src="~/App/Admin/RootViewModel.js"></script>
    <script src="~/App/Admin/ViewModels/Users/UserListModel.js"></script>
    <script src="~/App/Admin/ViewModels/Prod/ProdListModel.js"></script>
}

<div data-ng-app="admin" data-ng-controller="rootViewModel">
    <button ng-click="userList()">User List</button>
    <button ng-click="prodList()">Product List</button>
    <div ng-view></div>
</div>