@{
    ViewBag.Title = "PO Retrieve";
}

@section styles{
    <link rel="stylesheet" href="~/Content/css/retrieve/retrieve.css" />
}

@section scripts{
    <script src="~/App/Retrieve/App.js"></script>
    <script src="~/App/Retrieve/RootViewModel.js"></script>
    <script src="~/App/Retrieve/ViewModels/SM/smModel.js"></script>
    <script src="~/App/Retrieve/ViewModels/Super8/superModel.js"></script>
}
@section sidebar {
<aside class="main-sidebar"> 
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
                <center><h3><b><i class="fa fa-file-code-o"></i> <span>PO Retrieve</span></b></h3></center>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-server"></i> <span>FTP Server</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu dropdown-options">
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> SM</button></li>
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> Super 8</button></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-desktop"></i> <span>E-Comm</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu dropdown-options">
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> SM</button></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cloud"></i> <span>Web Service</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu dropdown-options">
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> SM</button></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
}
<div class="col-md-offset-2">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
    
 </div>
