@{
    ViewBag.Title = "PO Retrieve";
}

@section styles{
    <link rel="stylesheet" href="~/Content/css/retrieve/retrieve.css" />
}

@section scripts{
    <script src="~/App/Retrieve/App.js"></script>
    <script src="~/App/Retrieve/RootViewModel.js"></script>
    <script src="~/App/Retrieve/ViewModels/SM/smModel.js"></script>
    <script src="~/App/Retrieve/ViewModels/Super8/superModel.js"></script>
    <script src="~/App/Retrieve/ViewModels/NCC/nccModel.js"></script>
    <script>
        $(document).ready(function () {
            $('.visitRetrieve').addClass('active');
        });
    </script>
}
@*@section sidebar {
<aside class="main-sidebar"> 
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
                <center><h3><b><i class="fa fa-file-code-o"></i> <span>PO Retrieve</span></b></h3></center>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-server"></i> <span>FTP Server</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu dropdown-options">
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> SM</button></li>
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> Super 8</button></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-desktop"></i> <span>E-Comm</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu dropdown-options">
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> SM</button></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cloud"></i> <span>Web Service</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu dropdown-options">
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> SM</button></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
}*@
<div class="">
    <div class="breadcrumb page-top-header"><b>@ViewData["Title"]</b></div>
    <div data-ng-app="retrieve" data-ng-controller="rootViewModel">

        <ul class="nav nav-tabs skin-blue">
            <li><a data-toggle="tab" href="/#FTP"><b>FTP Server</b></a></li>
            <li><a data-toggle="tab" href="/#E-Comm"><b>E-Commerce</b></a></li>
            <li><a data-toggle="tab" href="/#API"><b>Web Service</b></a></li>
        </ul>
        <div class="row">
            <div class="col-md-2">
                <div class="tab-content">
                    <div id="FTP" class="tab-pane fade ">
                        <ul class="sidebar-menu">
                            <li><h3 class="breadcrumb"><b>O</b>utlets</h3></li>
                            <li class="treeview"><button class="btn btn-link-ret" ng-click="POfile.SM=0;smFile()"><i class="fa fa-user"></i> SM</button><span class="label-count" ng-show= "POfile.SM" ng-cloak>{{POfile.SM}}</span></li>
                            <li class="treeview"><button class="btn btn-link-ret" ng-click="POfile.S8=0;superFile()"><i class="fa fa-user"></i> Super 8</button><span class="label-count" ng-show= "POfile.S8" ng-cloak>{{POfile.S8}}</span></li>
                            <li class="treeview"><button class="btn btn-link-ret" ng-click="POfile.NCC=0;nccFile()"><i class="fa fa-user"></i> NCC</button><span class="label-count" ng-show= "POfile.NCC" ng-cloak>{{POfile.NCC}}</span></li>
                        </ul>
                    </div>
                    <div id="E-Comm" class="tab-pane fade">
                        <ul class="sidebar-menu">
                            <li><h3 class="breadcrumb"><b>O</b>utlets</h3></li>
                            <li class="treeview"><button class="btn btn-link-ret" ng-click="smFile()"><i class="fa fa-user"></i> SM</button></li>
                        </ul>
                    </div>
                    <div id="API" class="tab-pane fade">
                        <ul class="sidebar-menu">
                            <li><h3 class="breadcrumb"><b>O</b>utlets</h3></li>
                            <li class="treeview"><button class="btn btn-link-ret" ng-click="smFile()"><i class="fa fa-user"></i> SM</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div ng-view>

                </div>
            </div>
            </div>
        </div>
 </div>
