@{
    ViewBag.Title = "PO Retrieve";
}

@section styles{
    <link rel="stylesheet" href="~/Content/css/retrieve/retrieve.css" />
}
<style>    
    .pagination {
        margin: 0px 5px !important;            
    }
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
@section scripts{
    <script src="~/App/Retrieve/App.js"></script>
    <script src="~/App/Retrieve/RootViewModel.js"></script>
    <script src="~/App/Retrieve/ViewModels/RetrieveMaster/retrieveModel.js"></script>
    <script>
        $(document).ready(function () {
            $('.visitRetrieve').addClass('active');
            
        });
    </script>
}
@*@section sidebar {
<aside class="main-sidebar"> 
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
                <center><h3><b><i class="fa fa-file-code-o"></i> <span>PO Retrieve</span></b></h3></center>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-server"></i> <span>FTP Server</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu dropdown-options">
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> SM</button></li>
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> Super 8</button></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-desktop"></i> <span>E-Comm</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu dropdown-options">
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> SM</button></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cloud"></i> <span>Web Service</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu dropdown-options">
                    <li><button class="btn btn-link" ng-click=""><i class="fa fa-user"></i> SM</button></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
}*@
<div class="">
    <div data-ng-app="retrieve" data-ng-controller="rootViewModel" class="page-content">

        <div class="row">
            <div class="col-md-2">
                <div class="main-sidebar">
                    <ul class="sidebar-menu">
                        <li><h3 class="breadcrumb"><b>O</b>utlets</h3></li>
                        <li class="treeview outlet-sm"><button data-toggle="pill" class="btn btn-link-ret" ng-click="smFile()"><i class="fa fa-user"></i> SM <span class="label label-danger badge pull-right" ng-show="POfileErr.SM" ng-cloak>{{POfileErr.SM}}</span><span class="label label-success badge pull-right" ng-show="POfile.SM" ng-cloak>{{POfile.SM}}</span></button></li>
                        <li class="treeview outlet-s8"><button data-toggle="pill" class="btn btn-link-ret" ng-click="superFile()"><i class="fa fa-user"></i> Super 8 <span class="label label-danger badge pull-right" ng-show="POfileErr.S8" ng-cloak>{{POfileErr.S8}}</span><span class="label label-success badge pull-right" ng-show="POfile.S8" ng-cloak>{{POfile.S8}}</span></button></li>
                        <li class="treeview outlet-ncc"><button data-toggle="pill" class="btn btn-link-ret" ng-click="nccFile()"><i class="fa fa-user"></i> NCCC <span class="label label-danger badge pull-right" ng-show="POfileErr.NCC" ng-cloak>{{POfileErr.NCC}}</span><span class="label label-success badge pull-right" ng-show="POfile.NCC" ng-cloak>{{POfile.NCC}}</span></button></li>
                        <li class="treeview outlet-prg"><button data-toggle="pill" class="btn btn-link-ret" ng-click="prgFile()"><i class="fa fa-user"></i> Pure Gold <span class="label label-danger badge pull-right" ng-show="POfileErr.PRG" ng-cloak>{{POfileErr.PRG}}</span><span class="label label-success badge pull-right" ng-show="POfile.PRG" ng-cloak>{{POfile.PRG}}</span></button></li>
                        <li class="treeview outlet-wtm"><button data-toggle="pill" class="btn btn-link-ret" ng-click="wtmFile()"><i class="fa fa-user"></i> Waltermart <span class="label label-danger badge pull-right" ng-show="POfileErr.WTM" ng-cloak>{{POfileErr.WTM}}</span><span class="label label-success badge pull-right" ng-show="POfile.WTM" ng-cloak>{{POfile.WTM}}</span></button></li>
                        <li class="treeview outlet-utm"><button data-toggle="pill" class="btn btn-link-ret" ng-click="utmFile()"><i class="fa fa-user"></i> Ultra Mega <span class="label label-danger badge pull-right" ng-show="POfileErr.UTM" ng-cloak>{{POfileErr.UTM}}</span><span class="label label-success badge pull-right" ng-show="POfile.UTM" ng-cloak>{{POfile.UTM}}</span></button></li>
                    </ul>
                </div>
            </div>
            <!--<div id="API" class="tab-pane fade">
            <ul class="sidebar-menu">
                <li><h3 class="breadcrumb"><b>O</b>utlets</h3></li>
                <li class="treeview"><button class="btn btn-link-ret" ng-click="smFile()"><i class="fa fa-user"></i> SM</button></li>
            </ul>
        </div>-->
            <div class="col-md-10">
                <div ng-view>

                </div>
            </div>
        </div>
        </div>
 </div>
